%dl
  %dt Name
  %dd= form.text_field :name

  %dt Password
  %dd= form.text_field :password

  %dt Admin
  %dd= form.check_box :admin

  = fields_for @user.subscription do |sub|
    %dt Transaction Limit
    %dd= sub.select :transaction_limit, 0..100, default: 10
